@import url(bootstrap/dist/css/bootstrap.min.css);

.head{
    font-style: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large; 
  }
  
  .carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: black;
  }
  
  h1{
    text-align: center;
    color: aqua;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .page-footer{
    margin-top: 50px;
    color: black;
    background-color: rgb(216, 223, 231);
  }
  
  #forms{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  #p1about {
    text-align: justify;
    color: black;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  
  #p2about {
    text-align: justify;
    color: black;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* padding-top: 20px !important; */
    /* padding-bottom: 20px !important; */
  }
  
  .aboutheader{
    font-style: italic;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 20px !important;
    padding-bottom: 0px !important;
    text-align: center;
  }
  
  #form_class{
  }
  
  #loginid{
    margin-top: 150px !important;
    margin-bottom: 150px !important;
    background-color: white !important;
  }
  
  .table > tbody > tr > td {
    vertical-align: middle;
  }
  
  #contactid{
    margin-top: 100px !important;
    margin-bottom: 150px !important;
  }
  
  /* #container{
    background-color: rgb(70, 153, 221) !important;
  } */ 
  
  #comment{
    height: 220px;
    
  }
  
  #span{
    font-style: oblique;
    font-weight: bolder;
  }

  /* styles.css */
.table {
  border: 2px solid black;
  border-collapse: collapse; /* Ensures borders do not double up */
}

.table thead {
  border: 2px solid black;
}

.table tr {
  border: 2px solid black;
}

.table td, 
.table th {
  border: 2px solid black;
  padding: 8px; /* Optional: Add padding for better readability */
}
